/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap');

/* Info on global variable creation for colours was from https://www.w3schools.com/css/css3_variables.asp 
Colours are in rgba so that opacity can be applied for the winning message background colour https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable*/
:root {
    --dark: 48, 4, 16;
    --pale: 255,235,241;
    --lightpink: 255, 150, 181;
    --brightpink: 255, 51, 112;
  }

/* General Style */

body {
    font-family: "Robot", sans-serif;
    text-align: center;
    color: rgba(var(--dark));
    background-color: rgba(var(--pale));
    font-size: 1em;
}
/* Welcome Blurb */

h1, #question {
    font-family: "Bitter", sans-serif;
    font-size: 2em;
}

.hero {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/question-mark.jpg"); */
    background-image: url("../images/question-mark.jpg");
    height:50vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Answer area */

.answer-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answer-box, button {
    width: 70%;
    font-family: "Robot", sans-serif;
    border: none;
    font-size: 1.5em;
    margin: 0.5em auto 0 auto;
    border-radius: 10px;
}

#submit, #username-submit {
    background-color: rgba(var(--brightpink));
}

#next, #end-username {
    background-color: rgba(var(--lightpink));
    cursor: pointer;
}

/* Winning message */
#answer-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--dark),0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--pale));
    z-index: 1;
    flex-direction: column;
    font-size: 2em;
}

#next:hover {
    background-color: rgba(var(--brightpink));
}

.usernames {
    align-items:center;
}

